.home-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0883df;
  height: 80px;

  h1 {
    font-family: 'calibre-semibold', sans-serif;
    font-size: 22px;
    color: #fff;
    padding-left: 20px;

    @include desktop {
      padding-left: 30px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-family: 'faktpro-medium', sans-serif;
      color: #fff;
      font-size: 14px;
      display: inline;
      margin: 0 20px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .signin-btn {
      font-family: inherit;
      color: #fff;
      font-size: 14px;
      height: 40px;
      padding: 0 20px;
      border-radius: 3px;
      border: none;
      background-color: #0263a5;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#0263a5, 10%);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0883df;
  background-image: url('../assets/waves.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 80px;

  @include desktop {
    justify-content: flex-end;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 475px;
  padding-top: 50px;
  margin: 0 5%;

  @include desktop {
    min-width: 380px;
  }

  .title {
    font-family: 'calibre-semibold', sans-serif;
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    text-align: center;
    font-family: 'faktpro-normal', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .get-started-btn {
    align-self: center;
    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    border-radius: 3px;
    border: none;
    background-color: #12b586;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 0;
    }

    &:hover {
      background-color: darken(#12b586, 5%);
    }
  }
}

.hero-video-container {
  display: none;
  flex-shrink: 1;
  overflow: hidden;

  @include desktop {
    display: block;
  }

  .video-window {
    background-image: url('../assets/window.svg');
    background-repeat: no-repeat;
    height: 72px;
  }

  .video-content-container {
    height: 367px;
    width: 652px;
    border-bottom: 1px solid #c6c6c6;

    .hero-preview {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

.mobile-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $gray-bg;
  padding: 50px 0;

  .mobile-content-container {
    justify-self: center;

    @include desktop {
      margin: 50px 50px;
    }

    img {
      max-width: 300px;
      min-width: 250px;
      border-radius: 50px;

      @include desktop {
        max-width: 350px;
      }
    }
  }

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    margin: 50px 50px;

    .text-block-header {
      font-family: 'calibre-semibold', sans-serif;
      font-size: 28px;
      color: $dark-text;

      &:after {
        display: block;
        background-color: $main-blue;
        content: '';
        height: 5px;
        width: 135px;
        margin-top: 10px;
      }
    }

    p {
      font-family: 'faktpro-normal', sans-serif;
      color: $dark-text;
      font-size: 18px;
      margin-top: 20px;
      line-height: 1.5;
    }

    .text-block-one {
      margin-bottom: 80px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lighten($main-blue, 2%);
  height: 200px;

  .footer-btn {
    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 18px;
    height: 50px;
    padding: 0 40px;
    border-radius: 3px;
    border: none;
    background-color: #0263a5;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;

    &:hover {
      background-color: darken(#0263a5, 5%);
    }
  }

  h2 {
    font-family: 'faktpro-normal', sans-serif;
    font-size: 14px;
    color: #054f82;
  }
}

.sign-in-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sign-in-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  outline: none;

  @include desktop {
    width: 450px;
    height: auto;
    border-radius: 3px;
    overflow: hidden;
  }

  .sign-in-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray-bg;
    width: 100%;
    height: 70px;
    padding: 0 25px;
    margin-bottom: 30px;
    font-family: 'faktpro-normal', sans-serif;
    color: lighten($dark-text, 15%);
    font-size: 16px;

    p {
      padding: 0;
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: $gray-bg;
      top: 15px;
      left: 15px;
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.07);
      cursor: pointer;
      outline: none;
    }
  }

  .facebook-btn {
    position: relative;
    width: 90%;
    border: none;
    border-radius: 3px;
    background-color: #0263a5;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#0263a5, 7%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background-color: darken(#0263a5, 7%);
    }
  }

  .google-btn {
    position: relative;
    width: 90%;
    border: none;
    border-radius: 3px;
    background-color: #e9573f;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: center;
    overflow: hidden;

    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#e9573f, 7%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background-color: darken(#e9573f, 7%);
    }
  }
}
