.home-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: lighten($main-blue, 2%);
  background-color: #0883df;
  // background-color: gray;
  height: 80px;

  h1 {
    font-family: 'calibre-semibold', sans-serif;
    font-size: 22px;
    color: #fff;
    padding-left: 20px;

    @include desktop {
      padding-left: 30px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    // @include desktop {
    //   padding-right: 30px;
    // }

    li {
      font-family: 'faktpro-medium', sans-serif;
      color: #fff;
      font-size: 14px;
      display: inline;
      margin: 0 20px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .signin-btn {
      font-family: inherit;
      color: #fff;
      font-size: 14px;
      height: 40px;
      padding: 0 20px;
      border-radius: 3px;
      border: none;
      background-color: #0263a5;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#0263a5, 10%);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0883df;
  background-image: url('../assets/waves.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 80px;
  // border: 1px solid black;

  @include desktop {
    justify-content: flex-end;
  }
}

.hero-content {
  // flex-shrink: 0.5;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 475px;
  // align-items: flex-end;
  // min-width: 50%;
  // background-color: none;
  padding-top: 50px;
  // padding-right: 50px;
  // padding-left: 30px;
  // margin: 0 auto 40px;
  margin: 0 5%;
  // padding-bottom: 100px;

  @include desktop {
    min-width: 380px;
  }

  .title {
    // position: relative; //
    font-family: 'calibre-semibold', sans-serif;
    font-size: 28px;
    color: #fff;
    // margin-bottom: 15px;
    margin-bottom: 10px;
    // padding-bottom: 20px; //
    text-align: center;

    // &:after {
    //   // display: block;
    //   position: absolute;
    //   // background-color: #0263a5;
    //   content: "";
    //   height: 5px;
    //   // width: 135px;
    //   // width: 30%;
    //   // left: 35%;
    //   width: 50%;
    //   left: 25%;
    //   // margin-top: 10px;
    //   bottom: 0;

    //   border-bottom: 5px solid $main-blue;
    // }
  }

  p {
    text-align: center;
    // max-width: 460px;
    font-family: 'faktpro-normal', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .get-started-btn {
    align-self: center;
    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    border-radius: 3px;
    border: none;
    background-color: #12b586;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 0;
    }

    &:hover {
      background-color: darken(#12b586, 5%);
    }
  }
}

.hero-video-container {
  display: none;
  flex-shrink: 1;
  overflow: hidden;
  // background-color: peru;
  // background-image: url('assets/window.svg');
  // background-repeat: no-repeat;

  // height: 435px;
  // width: 640px;
  @include desktop {
    display: block;
  }

  .video-window {
    background-image: url('../assets/window.svg');
    background-repeat: no-repeat;
    // display: block;
    height: 72px;
    // width: 640px;
  }

  .video-content-container {
    // position: relative;
    height: 367px;
    width: 652px;
    border-bottom: 1px solid #c6c6c6;
    // height: 400px;
    // width: 680px;

    .hero-preview {
      // position: absolute;
      object-fit: fill;
      width: 100%;
      height: 100%;
      // top: 0;
      // left: 0;
      // height: 385px;
      // width: 640px;
      // height: 381px;
      // width: 653px;
    }
  }
}

.mobile-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-color: #e8e8e8;
  background-color: $gray-bg;
  padding: 50px 0;
  // border-top: 1px solid #c6c6c6;

  .mobile-content-container {
    justify-self: center;
    // margin-right: 100px;

    @include desktop {
      margin: 50px 50px;
    }
    // width: 350px;

    // height: 534px;
    // box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.05);
    // border: 1px solid #c6c6c6;
    // border: 20px solid #fff;
    // border-radius: 20px;
    // box-sizing: border-box;
    // margin-bottom: 80px; //media query

    // .mobile-image {
    //   // width: 100%;
    //   height: 100%;
    // }
    // .mobile-preview {
    //   object-fit: fill;
    //   width: 100%;
    //   height: 100%;
    // }

    img {
      max-width: 300px;
      min-width: 250px;
      border-radius: 50px;

      @include desktop {
        max-width: 350px;
      }
    }
  }

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    margin: 50px 50px;
    // text-align: center;
    // height: 535px;

    .text-block-header {
      font-family: 'calibre-semibold', sans-serif;
      font-size: 28px;
      color: $dark-text;

      &:after {
        // position: absolute;
        // left: 50%;
        display: block;
        background-color: $main-blue;
        content: '';
        height: 5px;
        width: 135px;
        // width: 25%;
        margin-top: 10px;
        // transform: translate(-50%);
        // text-align: center;
      }
    }

    p {
      font-family: 'faktpro-normal', sans-serif;
      color: $dark-text;
      font-size: 18px;
      margin-top: 20px;
      line-height: 1.5;
    }

    .text-block-one {
      margin-bottom: 80px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #0263a5;
  background-color: lighten($main-blue, 2%);
  height: 200px;

  .footer-btn {
    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 18px;
    height: 50px;
    padding: 0 40px;
    border-radius: 3px;
    border: none;
    // background-color: #05507a;
    background-color: #0263a5;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;

    &:hover {
      // background-color: darken(#05507a, 5%);
      background-color: darken(#0263a5, 5%);
    }
  }

  h2 {
    font-family: 'faktpro-normal', sans-serif;
    font-size: 14px;
    color: #054f82;
  }
}

.sign-in-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

// .sign-in-modal {
//   width: 400px;
//   height: 400px;
//   // border-radius: 3px;
//   background-color: #fff;
//   outline: none;
// }

.sign-in-modal {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: #fff;
  // width: 450px;
  width: 100%;
  height: 100%;
  // height: 400px;
  outline: none;
  // overflow: hidden;
  // padding-bottom: 20px;
  // padding: 10px 0;

  @include desktop {
    width: 450px;
    height: auto;
    border-radius: 3px;
    overflow: hidden;
  }

  .sign-in-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray-bg;
    width: 100%;
    height: 70px;
    padding: 0 25px;
    margin-bottom: 30px;
    font-family: 'faktpro-normal', sans-serif;
    // border-bottom: 1px solid darken($gray-bg, 5%);
    color: lighten($dark-text, 15%);
    font-size: 16px;

    p {
      padding: 0;
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: $gray-bg;
      top: 15px;
      left: 15px;
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.07);
      cursor: pointer;
      outline: none;
    }
  }

  .facebook-btn {
    position: relative;
    width: 90%;
    // height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #0263a5;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    overflow: hidden;
    // padding: 0 20px;

    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#0263a5, 7%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background-color: darken(#0263a5, 7%);
    }
  }

  .google-btn {
    position: relative;
    width: 90%;
    // height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #e9573f;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: center;
    // padding: 0 20px;
    overflow: hidden;

    font-family: 'faktpro-medium', sans-serif;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#e9573f, 7%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background-color: darken(#e9573f, 7%);
    }
  }
}
