.options-modal {
  outline: none;
  width: 100%;
  height: 100%;
  font-family: 'faktpro-normal', sans-serif;
  line-height: normal;
  color: $dark-text;
  background-color: #fff;
  padding: 40px 50px 0 50px;
  overflow-y: auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);

  @include desktop {
    width: 480px;
  }

  h1 {
    font-family: 'faktpro-normal', sans-serif;
    font-size: 20px;

    @include desktop {
      font-size: 18px;
    }
  }

  h2 {
    font-family: 'faktpro-normal', sans-serif;
    color: $light-text;
    margin-bottom: 20px;
    // font-size: 17px;
    font-size: 17px;

    @include desktop {
      font-size: 15px;
    }
  }

  .media-container,
  .slider-container {
    margin-bottom: 50px;
  }

  .media-container {
    width: 100%;
    font-size: 18px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 25px 0 0 0;

      @include desktop {
        justify-content: flex-start;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        padding: 0 22px;
        height: 50px;
        border: 1px solid #eee;
        border-radius: 100px;
        cursor: pointer;
        color: $light-text;
        line-height: 1;

        &.selected {
          background-color: lighten($main-blue, 5%);
          color: #fff;
        }

        @include desktop {
          &:nth-child(1) {
            margin-right: 20px;
          }
        }
      }

      input {
        display: none;
      }
    }
  }

  .slider-container {
    width: 100%;
    list-style: none;

    h2 {
      font-family: 'faktpro-normal', sans-serif;
      color: $light-text;
      margin-bottom: 20px;
      font-size: 17px;

      @include desktop {
        font-size: 15px;
      }
    }

    .slider-text {
      font-family: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .numbers {
        background-color: $gray-bg;
        font-family: 'faktpro-normal', sans-serif;
        padding: 5px 15px;
        margin: 0;
        border-radius: 100px;
        color: $light-text;
      }
    }
  }

  .select-genre,
  .select-sort {
    width: 100%;
    font-size: 20px;
    margin-bottom: 50px;
    display: block;

    @include desktop {
      font-size: 18px;
    }
  }

  .select-sort {
    margin-bottom: 100px;
  }

  .Select-control {
    border-color: #eee;
    border-radius: 3px;
    height: 43px;

    @include desktop {
      height: 40px;
    }
  }

  .submit-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 12px 20px 12px 0;
    background-color: #fff;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;

    @include desktop {
      width: 465px;
      left: 190px;
      border-top: none;
      padding: 16px 20px 16px 0;
    }

    .submit {
      width: 160px;
      height: 50px;
      border-radius: 3px;
      border: none;
      background-color: lighten($main-blue, 5%);
      color: white;
      font-family: 'faktpro-medium', sans-serif;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
      transition: background-color 0.3s, box-shadow 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $main-blue;
        box-shadow: none;
      }

      &.disabled {
        background-color: darken($gray-bg, 7%);
        box-shadow: none;
        cursor: default;
      }
    }

    .cancel {
      border: none;
      background-color: transparent;
      margin-right: 20px;
      color: #828282;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: lighten($dark-text, 50%);
      }
    }
  }
}
