$content-bgcolor: #f4f4f4;
$nav-bgcolor: white;

@mixin text($color) {
  font-family: sans-serif;
  font-size: 30px;
  padding-left: 20px;
  color: $color;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header search"
    "header content";
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: $nav-bgcolor;
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, .04);
  @include text(DarkGray)
}

.search {
  grid-area: search;
  background-color: $content-bgcolor;
  @include text(white)
}

.content {
  grid-area: content;
  background-color: $content-bgcolor;
  @include text(white)
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-areas:
    "header"
    "content";
    grid-template-columns: 100%;
    grid-template-rows: 60px auto;
  }

  .header {
    box-shadow: none;
    border-bottom: 1px solid lightGray;
  }

  .search {
    display: none;
  }
}