$main-blue: #007cd9;
// $main-blue: #0D97FF;
$gray-bg: #f4f4f4;
$light-text: #828282;
$dark-text: #3f3f3f;

@mixin desktop {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray-bg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 13px;
  overflow-y: scroll;
}

// TODO: fix order
h1 {
  font-size: 17px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 15px;
}
p {
  font-size: 12px;
}

@include mobile {
  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  // line-height: 0.5;
}

@font-face {
  font-family: 'calibre-semibold';
  src: url('fonts/calibre-semibold.woff') format('woff');
}

@font-face {
  font-family: 'calibre-medium';
  src: url('fonts/calibre-medium.woff') format('woff');
}

@font-face {
  font-family: 'faktpro-semibold';
  src: url('fonts/faktpro-semibold.woff') format('woff');
}

@font-face {
  font-family: 'faktpro-normal';
  src: url('fonts/faktpro-normal.woff') format('woff');
}

@font-face {
  font-family: 'faktpro-medium';
  src: url('fonts/faktpro-medium.woff') format('woff');
}

// // tablets and desktop
// @media only screen and (min-width: 768px) {
//   html {  font-size: 20px; }
// }

// // phone
// @media only screen and (max-width: 767px) {
//   html {  font-size: 12px; }
// }

// // portrait phones
// @media only screen and (max-width: 767px) and (orientation: portrait) {
//   html {  font-size: 12px; }
// }

// @mixin mq {
//   @media only screen and (min-width: 666px) {
//     @content;
//   }
// }

@mixin grid-break($width, $columns) {
  @media only screen and (min-width: $width) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

@mixin tooltip($bottom, $left, $margin) {
  visibility: hidden;
  // background-color: darken($gray-bg, 5%);
  // background-color: $gray-bg;
  background-color: $dark-text;
  // color: $dark-text;
  // color: $light-text;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
  position: absolute;
  border-radius: 2px;
  font-family: 'faktpro-normal', sans-serif;
  font-size: 12px;
  line-height: normal;
  z-index: 1;
  bottom: $bottom;
  left: $left;
  margin-left: $margin;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    // border-color: darken($gray-bg, 5%) transparent transparent transparent;
    // border-color: $gray-bg transparent transparent transparent;
    border-color: $dark-text transparent transparent transparent;
  }
}

@mixin preloader() {
  div {
    background-color: lightgray;
    height: 100%;
    width: 6px;
    height: 40px;
    margin: 0 1px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    animation-delay: -1.1s;
  }
  .rect3 {
    animation-delay: -1s;
  }
  .rect4 {
    animation-delay: -0.9s;
  }
  .rect5 {
    animation-delay: -0.8s;
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
}

.alert {
  z-index: 2;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 180px;
  bottom: 20px;
  left: 20px;
  background-color: $dark-text;
  font-family: 'faktpro-normal', sans-serif;
  color: #fff;
  border-radius: 3px;
  padding: 10px 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.preloader {
  @include preloader();
}

.lobby {
  // height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  position: absolute;

  @include desktop {
    padding-top: 100px;
  }
}

// .removed {
//   z-index: 99;
//   visibility: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   width: 160px;
//   bottom: 20px;
//   left: 20px;
//   background-color: $dark-text;
//   font-family: 'faktpro-normal', sans-serif;
//   color: #fff;
//   border-radius: 3px;
//   padding: 8px 0;
//   opacity: 0;
//   transition: opacity .5s ease;

//     &.active {
//       visibility: visible;
//       opacity: 1;
//     }
// }

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  // background-color: blue;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid lightgray;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);

  .logo {
    display: none;
    font-family: 'calibre-semibold', sans-serif;
    font-size: 24px;
    color: darken($dark-text, 5%);
  }

  .profile-img {
    object-fit: cover;
    // object-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: 0;
    margin: 20px;
    cursor: pointer;

    &.placeholder {
      background-color: lightGray;
    }
  }

  .welcome {
    display: none;
    font-family: 'faktpro-medium', sans-serif;
    font-size: 14px;
    color: lighten($light-text, 5%);
    // color: #748791; // blue tint
    // color: $light-text;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-top: 7px;
      cursor: pointer;

      .counter {
        position: absolute;
        // background-color: $main-blue;
        background-color: #def0ff;
        // background-color: lighten($main-blue, 10%); // light blue
        // background-color: lighten(#dc2628, 10%); // red
        // background-color: darken(lightgray, 10%); // gray
        // background-color: darken(#7CD3C8, 10%); // seafoam
        text-align: center;
        width: 25px;
        height: 19px;
        top: -6px;
        border-radius: 10px;
        // border: 1px solid #C0E0FC;
        font-family: 'faktpro-semibold', sans-serif;
        // color: white;
        color: lighten($main-blue, 10%);
        font-size: 11px;
        line-height: 1;
        // TODO: delete when line height fixed
        padding-top: 5px;
        margin-left: 7px;
        cursor: default;

        &.inactive {
          background-color: darken($gray-bg, 2%);
          color: lighten($light-text, 15%); // gray
        }
      }
    }

    li:nth-child(1) {
      margin-right: 10px;
    }

    a {
      font-family: 'calibre-medium', sans-serif;
      display: inline-block;
      text-decoration: none;
      color: $light-text;
      // color: #748791; //blue tint
      transition: color 0.3s;
      margin: 0 3px;

      &:after {
        content: '';
        display: block;
        visibility: hidden;
        width: 0;
        height: 2px;
        background-color: lighten($main-blue, 20%);
        transition: width 0.2s; // a
      }

      &.active-nav:after {
        visibility: visible;
        width: 100%; // a
      }

      // &:hover {
      //   color: $dark-text;

      //   &:after {               // a
      //     visibility: visible;  // a
      //     width: 100%;          // a
      //   }                       // a
      // }
    }

    // underline color for discover
    // li:nth-child(2) a:after {
    //   background-color: #48CFAD;
    // }

    .active-nav {
      // color: darken($light-text, 10%);
      // font-family: 'faktpro-semibold', sans-serif;
      color: $dark-text;
    }
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 30px;
    // border-radius: 100px;
    // margin: 20px;
    // background-color: #FC6E51; // orange
    // background-color: lighten(#FFCE54, 20%); //yellow
    // background-color: #DEF0FF;
    // background-color: $main-blue;
    // background-color: darken($gray-bg, 3%); // gray
    // pointer-events: none;
    // color: white;
    // font-size: 12px;
    text-decoration: none;

    &.active {
      // background-color: darken($gray-bg, 10%);
      fill: lighten($main-blue, 10%);
    }

    svg {
      fill: lighten($main-blue, 10%);
      // fill: darken(#F6BB42, 10%); // yellow
      // fill: $main-blue;
      // fill: lighten($dark-text, 35%); // gray
      // fill: #fff;
      // fill: gray;
    }
  }
}

// desktop version
@include desktop {
  .header {
    // position: fixed;
    positon: relative;
    // float: left;
    width: 190px;
    height: 100%;
    flex-direction: column;
    // align-items: space-between;
    justify-content: flex-start;
    padding-top: 75px;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.08);

    .logo {
      display: block;
    }

    .profile-img {
      width: 45px;
      height: 45px;
    }

    .welcome {
      display: block;
    }

    ul {
      // margin-top: 140px;
      margin-top: 100px;
      // width: 90px;

      li {
        display: block;
        // margin-bottom: 18px;
        // margin-bottom: 22px;
        margin-bottom: 20px;
        // text-align: left;
      }

      li:nth-child(1) {
        margin-right: 0;
      }

      a {
        h1 {
          font-size: 16px;
        }
        // font-size: 14px;
        // font-size: 16px;
        // font-family: 'faktpro-medium', sans-serif;
        // font-family: 'calibre-semibold', sans-serif;
        // color: $dark-text;
        &:hover {
          color: $dark-text;
        }

        &:hover {
          color: $dark-text;

          &:after {
            // a
            visibility: visible; // a
            width: 100%; // a
          } // a
        }
      }

      // .active-nav {
      //   // font-family: 'faktpro-normal', sans-serif;
      //   color: lighten($dark-text, 10%);
      // }
    }

    .counter {
      margin-left: 10px;
    }

    .search-icon {
      // display: none;
      background-color: $main-blue;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 0;
      // margin: 30px;
      margin: 0;
      border-radius: 0 0 3px 0;
      // border-bottom-right-radius: 3px;
      box-shadow: 0px 3px 30px 0px rgba(6, 124, 217, 0.5);
      // pointer-events: none;
      transition: all 0.2s;

      &:hover {
        width: 52px;
        height: 52px;
      }

      svg {
        fill: #fff;
      }
    }

    .profile-img {
      margin: 30px 0 13px 0;
    }
  }
}

// z-index: 2;
// position: fixed;
// top: 0;
// width: 100%;
// background-color: #fff;
// height: 75px;
// display: flex;
// align-items: center;
// justify-content: space-between;
// box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.08);

// @media only screen and (min-width: 768px) {
//   .header {
//     position: fixed;
//     float: left;
//     width: 190px;
//     height: 100%;
//     z-index: 1;
//   }
// }

.library-container {
  margin-top: 80px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // relative for search result absolute
  position: relative;

  // .search-container {
  //   width: 100%;
  //   display: flex;
  //   justify-content: flex-end;

  //   .desktop-search-icon {
  //     display: none;
  //     margin: 10px 35px 10px 0;
  //     width: 50px;
  //     height: 50px;
  //     border-radius: 50%;
  //     background-color: lightGray;
  //   }
  // }
}

.library {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // margin-top: 80px;
  margin-bottom: 30px;

  .library-card {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 200px;
    // height: 341.6px;
    width: 220px;
    height: 375.78px;
    margin: 18px 5px;

    // .library-card {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 185px;
    //   height: 316px;
    //   margin: 10px 5px;

    .img-container {
      position: relative;

      img {
        // flex-shrink: 0;
        // width: 165px; // "w154", "w185",
        // height: 247.5px;
        // width: 160px; // "w154", "w185",
        // height: 240px;
        // width: 175px;
        // height: 262.5px;
        width: 195px;
        height: 292.5px;
        // width: 154px; // "w154", "w185",
        // height: 231px;
        object-fit: cover;
        border-radius: 3px;
        // image-rendering: pixelated;
        box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.4);
      }

      .rating-tag {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -13px;
        background-color: $main-blue;
        width: 33px;
        height: 33px;
        color: white;
        font-family: 'faktpro-semibold', sans-serif;
        line-height: 1;
        border-radius: 50%;
        padding-top: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
      @include desktop {
        .rating-tag {
          width: 28px;
          height: 28px;
        }
      }
    }

    .library-info {
      // width: 154px;
      width: 190px;

      h2 {
        overflow: hidden;
        white-space: nowrap;
        // font-family: 'faktpro-semibold', sans-serif;
        font-family: 'faktpro-normal', sans-serif;
        color: lighten($dark-text, 7%);
        margin-top: 20px;
        text-overflow: ellipsis;
      }

      h3 {
        margin-top: 2px;
        font-family: 'faktpro-normal', sans-serif;
        color: $light-text;
      }
    }

    .card-back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // width: 200px;
      // height: 341.6px;
      width: 220px;
      height: 375.78px;
      background-color: white;
      padding: 22px 13px 12px 13px;

      .title {
        flex-grow: 0;
        cursor: default;

        h2 {
          font-family: 'faktpro-semibold', sans-serif;
          color: lighten($dark-text, 7%);
        }

        h3 {
          margin-top: 3px;
          font-family: 'faktpro-normal', sans-serif;
          color: $light-text;
        }
      }

      .synopsis {
        flex-grow: 1;
        // max-height: 50%;
        overflow: hidden;
        // background-color: yellow;

        p {
          margin-top: 10px;
          font-family: 'faktpro-normal', sans-serif;
          // font-size: 12px;
          line-height: 1.5;
          color: $light-text;
          cursor: default;
        }
      }

      .buttons {
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: blue;
        border-top: 1px solid darken($gray-bg, 5%);

        .imdb,
        .delete,
        .trailer {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          margin: 4px 10px;
          border: none;
          outline: none;
          cursor: pointer;
          @include desktop {
            margin: 4px;
          }

          svg {
            width: 23px;
            height: 23px;
            fill: lighten($main-blue, 10%);
            transition: fill 0.3s;

            @include desktop {
              width: auto;
              height: auto;
            }
          }

          &:nth-child(2) svg {
            width: 26px;
            height: 26px;

            @include desktop {
              width: auto;
              height: auto;
            }
          }

          &:hover > svg {
            fill: lighten($light-text, 20%);
            // fill: $main-blue;
          }
        }

        .delete {
          .delete-tooltip {
            @include tooltip(100%, 50%, -25px);
          }

          @include desktop {
            &:hover .delete-tooltip {
              visibility: visible;
            }
          }
        }

        .trailer {
          .trailer-tooltip {
            @include tooltip(100%, 50%, -25px);
          }

          @include desktop {
            &:hover .trailer-tooltip {
              visibility: visible;
            }
          }
        }

        .imdb {
          .imdb-tooltip {
            @include tooltip(100%, 50%, -25px);
          }

          @include desktop {
            &:hover .imdb-tooltip {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

// Media Queries 768px
@include desktop {
  .lobby {
    padding-left: 200px;

    &.not-found {
      padding-left: 0;
    }
  }

  .library-container {
    margin-top: 15px;
    margin-left: 210px;

    // hover to show library card back
    .library-card {
      width: 185px;
      height: 316px;
      margin: 10px 5px;

      .img-container {
        img {
          width: 160px; // "w154", "w185",
          height: 240px;
          box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .library-info {
        width: 154px;
      }

      .card-back {
        width: 185px;
        height: 316px;
        // hack using absolute positioning so that element doesn't occupy
        // space using visibility. All for the sake of pretty fade in transitions.
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.6s, visibility 0s;
      }

      .card-front {
        transition: opacity 0.3s, visibility 0s;
      }

      &:hover {
        .card-front {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition-delay: 0.6s;
        }
        .card-back {
          position: auto;
          visibility: visible;
          opacity: 1;
          transition-delay: 0.6s;
        }
      }
    }
  }

  .library {
    margin-right: 20px;
    justify-content: flex-start;
  }

  @supports (display: grid) {
    .library {
      display: grid;
      @include grid-break(768px, 2) @include grid-break(800px, 3) @include grid-break(1000px, 4) @include grid-break(1200px, 5) @include grid-break(1400px, 6) @include grid-break(1675px, 7);
    }

    .library-card-container {
      display: flex;
      justify-content: center;
    }
  }
}

// @mixin grid-break($width, $columns) {
//   @media only screen and (min-width: $width) {
//     grid-template-columns: repeat($columns, 1fr);
//   }
// }

// "poster_sizes": [
//   "w92",
//   "w154",
//   "w185",
//   "w342",
//   "w500",
//   "w780",
//   "original"
// ],
// .discover-lobby {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   padding-top: 140px;
//   box-sizing: border-box;
//   position: absolute;
//   padding-left: 200px;
// }

.discover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // margin-top: 75px;
  margin-top: 80px;
  // margin-bottom: 30px;

  // what is this?
  h1 {
    font-family: 'calibre-semibold', sans-serif;
    margin-top: 100px;
    color: lighten($dark-text, 7%);
  }

  .discover-card {
    flex-grow: 1;
    max-width: 450px;
    width: 330px;
    margin: 30px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    // justify-content: center;
    // flex-wrap: wrap;
    padding: 13px 13px 0 13px;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);

    .poster-info-container {
      display: flex;
      flex-direction: row;
      // margin-bottom: 13px;

      .discover-poster {
        flex-shrink: 0;
        position: relative;
        // background-color: blue;
        width: 100px;

        .img-container {
          background-color: #fff;
          width: 100px;
          height: 150px;
          position: absolute;
          // TODO: media query fill space
          // top: -25px;
          // bottom: 27px;
          // top: 5px;

          img {
            width: 100px; // "w154", "w185",
            height: 150px;
            object-fit: cover;
            color: #fff;
            border-radius: 3px;
            // image-rendering: pixelated;
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);
          }

          .rating-tag {
            // flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -15px;
            background-color: $main-blue;
            width: 33px;
            height: 33px;
            color: white;
            font-family: 'faktpro-semibold', sans-serif;
            line-height: 1;
            font-size: 12px;
            border-radius: 50%;
            padding-top: 2px;
            margin: 0 auto;
            left: 0;
            right: 0;
          }

          @include desktop {
            .rating-tag {
              width: 28px;
              height: 28px;
            }
          }
        }

        @include desktop {
          .img-container {
            top: -25px;
          }
        }
      }

      .discover-info {
        // flex-shrink: 1;
        flex-grow: 1;
        min-height: 140px;
        margin-left: 13px;
        padding: 10px 0 5px 0;
        font-family: 'faktpro-semibold', sans-serif;
        color: $light-text;
        // background-color: lightgray;

        h4 {
          font-family: 'faktpro-normal', sans-serif;
          color: lighten($dark-text, 7%);
        }

        h3 {
          font-family: 'faktpro-normal', sans-serif;
          margin-top: 3px;
          // color: lighten($light-text, 7%);

          span {
            color: $main-blue;
            font-family: 'faktpro-semibold', sans-serif;
          }
        }

        // .year {
        //   display: inline-block;
        //   font-family: 'faktpro-normal', sans-serif;
        //   padding: 2px 8px;
        //   border-radius: 3px;
        //   font-size: 11px;
        //   background-color: #EBF5FF;
        //   color: lighten($main-blue, 10%);
        // }

        p {
          margin-top: 8px;
          font-family: 'faktpro-normal', sans-serif;
          // font-size: 12px;
          line-height: 1.5;
        }
      }
    }

    .discover-footer {
      // position: relative; // delete, for test-add
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      // height: 47px;
      height: 50px;
      border-top: 1px solid darken($gray-bg, 5%);
      color: $light-text;
      // background-color: peru;
      margin: 5px 0;
      @include desktop {
        margin: 0;
      }

      h3 {
        font-family: 'faktpro-normal', sans-serif;
        display: inline-block;

        span {
          color: $main-blue;
          font-family: 'faktpro-semibold', sans-serif;
        }
      }

      // .test-add {
      //   position: absolute;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 47px;
      //   height: 46px;
      //   border-bottom-right-radius: 3px;
      //   background-color: lightgray;
      //   right: -13px;

      //   svg {
      //     fill: #fff;
      //   }
      // }

      .buttons {
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .imdb,
        .add,
        .trailer {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
          width: 38px;
          border-radius: 50%;
          margin: 0 10px;
          border: none;
          outline: none;
          cursor: pointer;
          @include desktop {
            margin: 0 4px;
          }

          svg {
            // fill: lighten($light-text, 30%);
            fill: lighten($main-blue, 13%);
            transition: fill 0.3s;
            shape-rendering: auto;
            width: 23px;
            height: 23px;

            @include desktop {
              width: auto;
              height: auto;
            }
          }

          &:nth-child(2) svg {
            width: 26px;
            height: 26px;

            @include desktop {
              width: auto;
              height: auto;
            }
          }

          @include desktop {
            &:hover > svg {
              fill: lighten($light-text, 25%);
              // fill: lighten($main-blue, 10%);
            }
          }
        }

        .add {
          .add-tooltip {
            width: 95px;
            @include tooltip(110%, 50%, -47px);
          }

          @include desktop {
            &:hover .add-tooltip {
              visibility: visible;
            }
          }
        }

        .trailer {
          .trailer-tooltip {
            @include tooltip(110%, 50%, -25px);
          }

          @include desktop {
            &:hover .trailer-tooltip {
              visibility: visible;
            }
          }
        }

        .imdb {
          .imdb-tooltip {
            @include tooltip(110%, 50%, -23px);
          }

          @include desktop {
            &:hover .imdb-tooltip {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  // .load-more {
  //   flex-shrink: 0;
  //   display: block;
  //   background-color: #B2B2B2;
  //   font-family: 'faktpro-semibold', sans-serif;
  //   line-height: normal;
  //   color: #fff;
  //   border: none;
  //   outline: none;
  //   width: 80%;
  //   height: 50px;
  //   border-radius: 5px;
  //   margin: 30px 150px 0 150px;
  //   cursor: pointer;
  //   transition: background-color .4s;

  //   &:hover {
  //     background-color: darken(#B2B2B2, 10%);
  //   }

  //   &.loader {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: transparent;
  //     cursor: default;

  //     @include preloader();
  //   }

  //   &.end-list {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: transparent;
  //     cursor: default;
  //     color: lighten($light-text, 15%);
  //   }
  // }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 40px;
    right: 25px;
    background-color: $main-blue;
    // width: 54px;
    // height: 54px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding-top: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;

    &:hover {
      background-color: lighten($main-blue, 10%);
      box-shadow: none;
    }

    @keyframes bounce {
      0%,
      20%,
      53%,
      80%,
      100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
      }
      40%,
      43% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
      }
      70% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
      }
      90% {
        transform: translate3d(0, -5px, 0);
      }
    }

    svg {
      padding: 0;
      margin: 0;
      stroke: white;
    }
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;

  .load-more {
    // flex-shrink: 0;
    // display: block;
    background-color: #b2b2b2;
    font-family: 'faktpro-medium', sans-serif;
    line-height: normal;
    color: #fff;
    border: none;
    outline: none;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    // margin: 30px 20px 20px 220px;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
      background-color: darken(#b2b2b2, 10%);
    }

    &.preloader {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      cursor: default;

      @include preloader();
    }

    &.end-list {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      cursor: default;
      // color: lighten($light-text, 15%);
      color: #919fa3;
    }
  }
}

@include desktop {
  .lobby {
    padding-left: 200px;
  }

  .discover {
    margin-top: 10px;
    margin-left: 200px;
    // justify-content: flex-start;
    justify-content: space-evenly;
    // justify-content: center;
  }

  .load-more {
    margin-left: 220px;
    margin-right: 20px;
    // width: 50%;
  }

  @supports (display: grid) {
    .discover {
      display: grid;
      @include grid-break(768px, 1) @include grid-break(950px, 2) @include grid-break(1320px, 3) @include grid-break(1700px, 4) .discover-card {
        justify-self: center;
        width: auto;
        max-width: 410px;
      }
    }
  }
}

.search {
  // margin-top: 85px;
  // display: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'calibre-semibold', sans-serif;
  // font-family: 'faktpro-semibold', sans-serif;
  // position: relative;

  * {
    outline: none;
  }

  .search-input {
    appearance: none;
    background-color: #eaeaea;
    // background-color: #eee;
    width: 95%;
    border: none;
    font-family: inherit;
    border-radius: 3px;
    font-size: 35px;
    caret-color: gray;
    // color: #262626;
    color: $dark-text;
    // margin-top: 5px;
    padding: 7px 7px 0 10px;
    transition: background-color 0.5s;

    &.active {
      background-color: $gray-bg;
    }
  }

  input::placeholder {
    color: lighten($light-text, 15%);
    // color: lighten(#748791, 10%);
    // for firefox
    opacity: 1;
  }

  // .zero-results {
  //   margin-top: 50px;
  //   color: $light-text;
  // }
}

@include desktop {
  .search {
    justify-content: flex-start;

    .search-input {
      width: 100%;
      margin-right: 20px;
      font-size: 50px;
    }
  }
}

.search-results {
  z-index: 1;
  position: absolute;
  top: 75px;
  left: 0;

  // left: 0;
  // margin-left: 2.5%;

  // width: 500px;
  // width: 300px;
  width: 100%;
  // min-width: 300px;
  // background-color: white;
  // margin-top: 20px;
  // width: 95%;max-width: 600px;

  // max-height: 500px;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);

  // TODO: mixin
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid lighten(lightgray, 8%);

    &:hover,
    &.active {
      box-sizing: border-box;
      box-shadow: 1px 0 0 $main-blue inset;
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }

  .search-poster {
    flex-shrink: 0;
    // height: 85px;
    // width: 56.6px;
    // height: 75px;
    // width: 50px;
    // height: 60px;
    // width: 40px;
    // height: 67.5px;
    // width: 45px;
    height: 70.5px;
    width: 47px;
    object-fit: cover;
    // image-rendering: pixelated;
  }

  .search-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-left: 20px;
    margin-left: 35px;
    padding-right: 5px;

    h2 {
      font-family: 'faktpro-normal', sans-serif;
      color: $dark-text;
    }

    h3 {
      font-family: 'faktpro-normal', sans-serif;
      color: $light-text;
    }

    .inLibraryColor {
      color: lighten($light-text, 20%);
      // text-decoration: line-through;
    }
    // h2, h3 {
    //   padding: 3px;
    // }
  }

  // TODO: mixin
  // .search-add {
  //   flex-shrink: 0;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   padding-left: 10px;
  //   padding-right: 5px;

  //   .search-add-btn {
  //     background-color: $main-blue;
  //     padding: 0;
  //     margin: 0;
  //     width: 30px;
  //     height: 30px;
  //     font-size: 18px;
  //     color: #fff;
  //     font-family: 'faktpro-semibold', sans-serif;
  //     cursor: pointer;
  //     outline: none;
  //     border-radius: 50%;
  //     border: none;
  //     transition: transform .4s, background-color .2s;

  //     &:hover {
  //       background-color: lighten($main-blue, 20%);
  //       transform: rotate(180deg);
  //     }
  //   }

  //   h3 {
  //     margin-top: 10px;
  //     display: block;
  //     font-family: 'faktpro-semibold', sans-serif;
  //     color: lighten($light-text, 5%);
  //   }
  // }
  .mediatype-tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: #ebf5ff;
    padding: 7px 15px;
    margin-left: 20px;

    h2 {
      font-family: 'faktpro-normal', sans-serif;
      color: lighten($main-blue, 10%);
    }
  }

  // TODO: make mixin
  .inlibrary-tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: #e74c3c;
    padding: 7px 15px;
    margin-left: 20px;

    svg {
      fill: #fff;
    }

    h2 {
      font-family: 'faktpro-normal', sans-serif;
      color: #fff;
    }
  }

  .zero-results {
    display: flex;
    justify-content: center;
    padding: 20px;

    h2 {
      font-family: 'faktpro-normal', sans-serif;
      color: $dark-text;
    }
  }
}

@include desktop {
  .search-results {
    width: 95%;
  }
}

.trailer-modal {
  position: absolute;
  outline: none;
  width: 80%;
  text-align: center;
  font-family: 'faktpro-semibold', sans-serif;
  font-size: 12;
  // responsive centering
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trailer-modal-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; // 16:9 ratio
  // padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.options-modal {
  // border-top: 5px solid $main-blue;
  // border-bottom: 5px solid $main-blue;
  border: 1px #dbdbdb solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  outline: none;
  min-width: 280px;
  border-radius: 5px;
  font-family: 'faktpro-semibold', sans-serif;
  line-height: normal;
  color: $dark-text;
  font-size: 12;
  background-color: #fff;
  // background-color: $main-blue;
  // responsive centering
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px 0;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 0px 50px 20px rgba(0,0,0, 0.1);

  button {
    font-family: inherit;
    color: $dark-text;
    background-color: #fff;
    font-size: 13px;
    // background-color: gray;
    width: 100px;
    height: 36px;
    padding-top: 3px;
    border-radius: 0;
    outline: none;
    border: 1px solid lighten(#dbdbdb, 5%);
    cursor: pointer;
  }

  .tv {
    border-left: 0;
  }

  .active {
    background-color: lighten(lightgray, 12%);
    color: lighten($dark-text, 50%);
    // background-color: lighten($main-blue, 55%);
    // color: lighten($main-blue, 35%);
  }

  // .btn-wrapper {
  //   background-color: blue;
  // }

  .slider-container {
    width: 200px;
    margin-top: 30px;

    .slider-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      // color: $dark-text;

      h2 {
        display: inline-block;

        &:nth-child(2) {
          font-family: 'faktpro-normal', sans-serif;
          line-height: 0.7;
          // color: lighten($main-blue, 20%);
          color: $light-text;
        }
      }
    }
  }

  .select-container {
    width: 200px;
    margin-top: 32px;
  }

  .submit-container {
    width: 200px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;

    .submit {
      width: 120px;
      height: 40px;
      border-radius: 100px;
      border: none;
      background-color: $main-blue;
      color: white;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
      transition: background-color 0.3s, box-shadow 0.2s;

      &:hover {
        background-color: lighten($main-blue, 10%);
        box-shadow: none;
      }
    }

    .cancel {
      width: 70px;
      height: 40px;
      border-radius: 100px;
      border: 1px solid #dbdbdb;
      margin-right: 10px;
      color: #828282;
      transition: color 0.2s;

      &:hover {
        color: lighten($dark-text, 50%);
      }
    }
  }
}

.options-modal-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  // background-color: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms, height 400ms;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'faktpro-medium', sans-serif;

  .illustration {
    .empty-mobile {
      width: 138px;
      margin-right: 10px;
    }

    .sad-mobile {
      width: 137px;
    }

    .empty {
      width: 229px;
      margin-right: 18px;
    }

    .sad {
      width: 218px;
      margin-right: 5px;
    }
  }

  h1 {
    margin-top: 20px;
    color: #5e6c77;

    @include desktop {
      margin-top: 40px;
    }
  }

  h2 {
    margin-top: 15px;
    color: lighten(#5e6c77, 20%); // blue tint
    text-align: center;
    max-width: 300px;
    // max-width: 400px;
    line-height: 30px;

    span {
      vertical-align: -5px;
      margin: 0 7px;
    }

    @include desktop {
      max-width: 400px;
    }
  }

  button {
    margin-top: 20px;
    background-color: $main-blue;
    height: 40px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    // outline: 0;
    &:hover {
      background-color: darken($main-blue, 5%);
    }

    h2 {
      // line-height: 0;
      margin: 0;
      padding: 5px 15px 0 15px;
      font-family: 'faktpro-medium', sans-serif;
      color: #fff;
    }

    @include desktop {
      margin-top: 30px;
    }
  }
}

.home {
  -webkit-font-smoothing: antialiased;
}

.home-header {
  background-color: $main-blue;
  height: 80px;

  h1 {
    font-family: 'calibre-semibold', sans-serif;
    font-size: 24px;
    color: #fff;
    padding: 30px;
  }
}

.home-hero {
  display: flex;
  flex-direction: row;
  background-color: $main-blue;
  // border: 1px solid black;
  // height: 300px;
}

.home-hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 50%;
  background-color: $main-blue;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 20px;

  .title {
    max-width: 400px;
    font-family: 'calibre-semibold', sans-serif;
    font-size: 34px;
    color: #fff;
    margin-bottom: 15px;

    &:after {
      display: block;
      background-color: #0263a5;
      content: '';
      height: 5px;
      width: 135px;
      margin-top: 10px;
    }
  }

  p {
    max-width: 400px;
    font-family: 'faktpro-normal', sans-serif;
    font-size: 18px;
    color: #fff;
  }
}

.hero-video-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: $main-blue;

  .hero-video-content {
    height: 432px;
  }
}
