$main-blue: #007cd9;
$gray-bg: #f4f4f4;
$light-text: #828282;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $gray-bg;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: 'calibre-semibold';
  src: url('fonts/calibre-semibold.woff') format('woff');
}



// // tablets and desktop
// @media only screen and (min-width: 768px) {
//   html {  font-size: 20px; }
// }

// // phone
// @media only screen and (max-width: 767px) {
//   html {  font-size: 12px; }   
// }

// // portrait phones
// @media only screen and (max-width: 767px) and (orientation: portrait) {
//   html {  font-size: 12px; }
// }


@mixin mq {
  @media only screen and (min-width: 666px) {
    @content;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;

  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px;
    background-color: $gray-bg;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
    }

    li:nth-child(1) {
        margin-right: 10px;
    }

    a {
      font-family: 'calibre-semibold', sans-serif;
      display: inline-block;
      text-decoration: none;
      color: lighten($light-text, 20%);
      font-size: 16px;
      width: 60px;

      &:after {
        margin-top: 5px;
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: $main-blue;
        transition: width .4s ease;
      }

      &.active-nav:after {
        width: 100%;
      }
    }

    .active-nav {
      color: $light-text;
    }
  }

  .search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px;
    background-color: $gray-bg;
  }
}


.library {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 30px;

  .library-card {
    width: 200px;
    height: 300px;
    margin: 30px 30px 0 30px;
    background-color: darkGray;
  }
}

// TODO: make mixin for this
.discover {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 30px;

  .discover-card {
    width: 200px;
    height: 300px;
    margin: 30px 30px 0 30px;
    background-color: $main-blue;
  }
}

.not-found {
  margin-top: 100px;
}

.search {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  
  * {
    outline: none;
  }

  input {
    background-color: #eee;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-family: 'calibre-semibold', sans-serif;
    line-height: 0px;
    font-size: 50px;
    caret-color: gray;
    color: #262626;
    margin: 5px 25px;
    padding: 7px 7px 0 7px;
  }

  // autoprefixer doesnt support placeholder selectors
  ::-webkit-input-placeholder {
      color: lighten($light-text, 12%);
  }
  :-moz-placeholder {
     color: lighten($light-text, 12%);
     opacity: 1;
  }
  ::-moz-placeholder { 
     color: lighten($light-text, 12%);
     opacity: 1;
  }
  :-ms-input-placeholder { 
     color: lighten($light-text, 12%);
  }
  ::-ms-input-placeholder { 
     color: lighten($light-text, 12%);
  }
}





